html{
    height: 100%;
}
body{
    height: 100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: #070707;
    color: #00ff3c;
    font-family: 'Sen';
    font-size: 1vw;
}
header{
    display: block;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #00ff3c;
}
footer{
    margin-top: 5%;
}
h1{
    font-size: 2vw;
}
.cabecera{
    float: left;
    width: 13%;
}
.logo{
    width: 3.5%;
}
.logout{
    width: 5%;
    font-size: 1vw;
    padding-top: 2%;
    float: right;
}
a{
    color: #00ff3c;
    text-decoration: none;
}
a.logo{
    font-size: 1.5vw;
    text-decoration: underline;
}
 a:visited{
    color: #00ff3c;
}
/*LATERAL*/
aside{
    width: 10%;
    margin-top: 1%;
    display: block;
    border-right: 2px solid #00ff3c;
    height: 89%;
    z-index: -999;
    font-size: 1vw;
}
aside form span{
    cursor: pointer;
}
/* MAIN */
main{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 15%;
    left: 15%;
}

/*SNMP*/
table{
    width: 50%;
    border-collapse: separate;
  border-spacing: 0px;
    margin-bottom: 3%;
}
th, td {
    border: 1px solid #00ff3c;
    padding: 5px;
    text-align: left;
  }
.add_comunidad{
    border: 1px solid #00ff3c;
    overflow: auto;
    padding: 0.5%;
}
.add_comunidad div{ 
    cursor: pointer;
}
.add_comunidad_formulario{
    display: none;
}
.eliminar_comunidad{
    border: 1px solid #00ff3c;
    overflow: auto;
    padding: 0.5%;
}
.eliminar_comunidad div{ 
    cursor: pointer;
}
.eliminar_comunidad_formulario{
    display: none;
}
.add_wmi{
    border: 1px solid #00ff3c;
    overflow: auto;
    padding: 0.5%;
}
.add_wmi div{
    cursor: pointer;
}
.add_wmi_formulario{
    display: none;
}
.eliminar_wmi{
    border: 1px solid #00ff3c;
    overflow: auto;
    padding: 0.5%;
}
.eliminar_wmi div{
    cursor: pointer;
}
.eliminar_wmi_formulario{
    display: none;
}
.seguridad{
    display: none;
}
.autenticacion{
    display: none;
}
.privacidad{
    display: none;
}
input[type="submit"]{
    background-color: #00ff3c;
    color: white;
    cursor: pointer;
    margin-top: 1%;
}
input{
    border-style: none;
    font-family: 'Sen';
    margin-bottom: 1%;
}
input[type="submit"]{
    background-color: #00ff3c;
    color: black;
    cursor: pointer;
    border-style: none;
}
/*equipos*/
.titulo{
    float: left;
    width: 69%;
}
.opciones{
    float: right;
    width: 30%;
    font-size: 1vw;

}
.opciones span{
    border: 1px solid #00ff3c;
    float: right;
    width: 44%;
    cursor: pointer;
}
.opciones form{
    float: left;
    width: 54%;
}
.opciones form input{
    width: 100%;
}
.opciones form input::placeholder{
    font-size: 1vw;
}
table#equipos{
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: scroll;
    font-size: 1vw;
}
table#equipos tr th{
    height: 10%;
}
table#quipos tbody{
    height: 100%;
}
.rojo{
    color: red;
    border: 2px solid red;
    border-right: 1px solid red;
}
form span{
    cursor: pointer;
    text-decoration: underline;
    color: #00ff3c;
    border: none;
    
}
#detalles{
    margin-top: 1%;
}
div#lista{
    width: 99.85%;
    height: 4%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-top: -3%;
}
ul{
    width: 100%;
}
li{
    margin-top: 0.5%;
    list-style-type: none;
    float: left;
    margin-left: 1%;
    cursor: pointer;
}
li.activado{
    text-decoration: underline;
}
.no_bordes{
    float: left;
}
.no_bordes th, .no_bordes td{
    border: 0px;
}
#info_general{
    border: 1px solid;
    height: 150%;
    margin-bottom: 20%;
}
#discos{
    width: 100%;
}
.peligro{
    color: red;
}
.naranja{
    color: orange;
}
progress.peligro{
    background-color:red;
    color:red;
    }
progress.peligro[value] {color:red} /* IE10 */
progress.peligro::-webkit-progress-bar-value {background-color:red}
progress.peligro::-webkit-progress-value {background-color:red}
progress.peligro::-moz-progress-bar {background-color:red}
progress.naranja{
    background-color:orange;
    color:orange;
    }
progress.naranja[value] {color:orange} /* IE10 */
progress.naranja::-webkit-progress-bar-value {background-color:orange}
progress.naranja::-webkit-progress-value {background-color:orange}
progress.naranja::-moz-progress-bar {background-color:orange}

#Notas{
    display: none; 
    border:1px solid; 
    padding:1%;
    height: 100%;
}
#Servicios{
    display: none; 
    border:1px solid; 
    padding:1%;
    height: 100%;
}
/*SSH*/
#consola{
    border: 1px solid #00ff3c;
    color: white;
    width: 100%;
    height: 70%;
    overflow: scroll;
}
/*SFTP*/
table#sftp{
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
}
table#sftp tr{
    border: none;
}
table#sftp th, table#sftp td{
    border: none;
    border-right: solid 1px white; 
    border-left: solid 1px white;
}